<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CU18XRG Mileage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header><h2 class="headings">CU18XRG Mileage</h2></header>
    <main>
        <div class="input-table">
            
            <table>
                <tr>
                    <td class="table-labels">Start Location:</td>
                    <td><input type="text" id="start-location"></td>
                </tr>
                <tr>
                    <td class="table-labels">End Location:</td>
                    <td><input type="text" id="end-location"></td>
                </tr>
                <tr>
                    <td class="table-labels">Start Mileage:</td>
                    <td><input type="text" id="start-mileage"></td>
                </tr>
                <tr>
                    <td class="table-labels">End Mileage:</td>
                    <td><input type="text" id="end-mileage"></td>
                </tr>
                
            
            </table>
            
            <button type="submit" class="submit" id="cu18-submit">Trip Complete</button>
        </div>
    </main>
    <footer></footer>
    <script src="script.js"></script>
</body>
</html>