<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV20FBU Mileage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <header><h2 class="headings">CV20FBU Mileage</h2></header>
    <main>
        <div class="input-table">
            <form method="POST" name="data-entry">
                <table>
                    <tr>
                        <td class="table-labels">Start Time:</td>
                        <td><input type="text" id="start-time" name="start-time"></td>
                    </tr>
                    <tr>
                        <td class="table-labels">Start Location:</td>
                        <td><input type="text" id="start-location" name= "start-location"></td>
                    </tr>
                    <tr>
                        <td class="table-labels">End Location:</td>
                        <td><input type="text" id="end-location" name="end-location"></td>
                    </tr>
                    <tr>
                        <td class="table-labels">Start Mileage:</td>
                        <td><input type="text" id="start-mileage" name="start-mileage"></td>
                    </tr>
                    <tr>
                        <td class="table-labels">End Mileage:</td>
                        <td><input type="text" id="end-mileage" name="end-mileage"></td>
                    </tr>
                    <tr>
                        <td class="table-labels">End time:</td>
                        <td><input type="text" id="end-time" name="end-time"></td>
                    </tr>
                    
                </table>
                
                <button type="submit" class ="submit" id="cv20-submit">Trip Complete</button>
            </form>

        </div>
    </main>
    <footer></footer>

</body>
<script type="module" src="/static/js/script.js"></script>


</html>