<html lang="en">
    <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="login-form">

        <h1 class="headings">Log in</h1>
        <form action="POST">
            <label>Username:<label>
            <input type="radio" id="cu18" name="cu18" value="CU18XRG">
            <input type="radio" id="cv20" name="cv20" value="CV20FBU">
            <button id="userSubmit">Submit</button>
        </form>
       
    </div>
</body>
<script src="scriptIndex.js"></script>
</html>