<html lang="en">
    <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="login-form">

        <h1 class="headings">Select Vehicle</h1>
      
            <a href="{{ url_for('cu18') }}"><button id="CU18">CU18XRG</button></a>
            <a href="{{ url_for('cv20') }}"><button id="CV20">CV20FBU</button></a>
       
    </div>
</body>
</html>